<div class="col-md-4 col-md-offset-4">
    <h2>Edit Review</h2>
    <hr>

    <%= simple_form_for @group do |f| %>
      <div class="form-group">
        <%= f.input :title, input_html: { class: "form-control"} %>
        <%= f.input :description, input_html: { class: "form-control"} %>
        <% if @group.image.present? %>
        <span>目前图片</span>
        <%= image_tag(@group.image.thumb.url, class: "thumbnail")%>
        <% end %>
        <%= f.input :image, as: :file %>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>
</div>
